body{
    background-color: black;
    margin: 0; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calcContainer{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#calculator{
    margin: auto;
    font-family: sans-serif;
    background-color: rgb(51, 51, 51);
    border-radius: 15px;
    max-width: 550px;
}
#display{
    width: 510px;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
}
#display1{
    width: 510px;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
}
#display2{
    width: 510px;
    height: 100px;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
a{
    color: white;
}
button{
    width: 100px;
    height: 100px;
    border-radius:  50px;
    border:  3px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 255);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(79, 79, 79);
}
button:active{
    background-color: rgb(185, 185, 185);
}
.operator-btn{
    background-color: rgb(0, 153, 255);
}
.operator-btn:hover{
    background-color: rgb(0, 73, 121);
}
.operator-btn:active{
    background-color: rgb(196, 231, 255);
}
h2{
    color: aqua;
    text-align: center;
 
}
h1{
    color: white;
}